body{

    background-color: #9F9C9C ; 
}



.hero__home {
    background-image: url('../gameImg/ad.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    
}

.hero__home .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 1000px ;
}

.breadcrumb {
background-color: white;
color: #FF3838;
font-family: 'Poppins';
font-weight: bold;

}