body{
    background-color: #3D3D3D;
    }

.hero__home {
    background-image: url(../img/Assassins-Creed-Ragnarok-890x456.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    height: calc(100vh - 60px);
    padding-bottom: 120px;
}
.hero__content p {
    color: black;
    font-size: 2.75em;
    font-weight: bold;
}
.hero__content H1 {
    color: whitesmoke;
    font-size: 4em;
    font-weight: bold;
}

.hero__home .hero__content {
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translate(-50%, 50%);
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
}

.moovie__item img {
	max-width: 100%;
}

.about__home {
    margin: 80px 0;
    width: 100vw;
}

.about__home-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about__home-grid .group-item{
    height: 390px;
    width: 100%;
}

.about__home-grid .group-item img{
    height: 100%;
    width: 100%;
}

.about__home-grid .title{
    /* font-family: "Poppins"; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FF3838;
}

.about__home-grid .group-list{
    margin: 40px 0;
}

.about__home-grid .item-list{
    padding: 20px 0;
    /* font-family: PT Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;

    color: #F8F8F8;
}

.about__home-grid .button{
    position: absolute;
    bottom: 0;
    right: 40px;
}

.about__home-grid .button a{
    background: #FF3838;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    /* font-family: Poppins; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding:20px 40px;
    color: #F8F8F8;
}



.about__bottom h3{
    font-size: 2.5em;
    color: whitesmoke;
    font-weight: bold;
}
.about__bottom p{
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}
.left-part{
    position:left;
    height: 300px;
}
.left-part li{
    font-size: 1.3em;
    color: whitesmoke;
    margin: 4px;
}
.left-part h3{
    color: red;
    padding-bottom: 15px;
}
.right-part {
    position:right;
    height: 300px;
    /* padding: 20px; */
    /* padding-left: 110px; */
}

.right-part img {
    max-width: 100%;
    max-height: 100%;
}

.button-left-part button{
    /* 
    box-shadow:inset 0px 39px 0px -24px #FF3838;
	background-color:#FF3838;
	border-radius:4px;
    border:1px solid #ffffff;
    border: none;
	display:inline-block;
	font-family:Arial;
	font-size:20px;
	
    text-shadow:0px 1px 0px #FF3838; */
    background: #FF3838;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-decoration:none;
    cursor:pointer;
    border: none;
    padding:20px 40px;
    color:#ffffff;
}

.button-left-part button:active {
	position:relative;
	top:3px;
}

.button-left-part{
    padding-top: 68px;
    text-align: right;
}


.last__game{
    background: #898989;
    padding: 80px 0;
}

.last__game .title h3{
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: #F8F8F8;
}

.last__game .title a{
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FF3838;
}
.title{
    margin-bottom: 30px;
}

/* RESPONSIVE */

/* 1200px -> large screen desktop */
/* 992px -> small screen desktop */
/* 768px -> tablette + smartphone paysage */
/* 576px -> smartphone */
/* 320px -> small smartphone */

@media (max-width: 1200px) {
}

@media (max-width: 1080px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
	.header__main {
		display: block;
	}
	.header__logo {
		text-align: center;
	}
	.header__nav .nav__list {
		display: flex;
		list-style: none;
		justify-content: center;
		padding: 0;
	}
	.right-part img {
		width: 100%;
		padding: 0;
	}
	.hero__home .hero__content {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, 50%);
		text-align: center;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		column-gap: 30px;
	}
}

@media (max-width: 576px) {
	.hero__home .hero__content {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, 50%);
		text-align: center;
	}
	.about__home {
		flex-direction: column-reverse;
	}
	.left-part,
	.right-part {
		width: 100%;
	}
}

@media (max-width: 320px) {
	.hero__home .hero__content {
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translate(-50%, 50%);
		text-align: center;
	}
}
