body,
ul {
    margin: 0%;
    padding: 0%;
}

body {
    background: #9F9C9C;
    ;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    text-transform: uppercase;
    color: #FF3838;
}

.connex {
    text-align: center;
}

.conf {
    width: 400px;
    height: 47px;
    left: 478px;
    top: 755px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    border-radius: 6px;
    background-color: #FF3838;
}

.mai {
    width: 300px;
    height: 50px;
    left: 478px;
    top: 410px;
    border-radius: 6px;
    font-size: large;
}

.inf {
    padding-bottom: 30px;
}

p {
    color: blue;
    font-size: 10px;
    right: 70px;
}