body,
ul {
    margin: 0;
    padding: 0;
}

body {
    background: #4B4B4B;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    line-height: 108px;
    text-transform: uppercase;
    color: #FF3838;
    font-weight: 700;
}

.conf {
    width: 384px;
    height: 47px;
    left: 478px;
    top: 755px;
    font-size: large;
    color: white;
    background: rgba(255, 56, 56, 0.9);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 8px;
}

.mai {
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 384px;
    background: #f8f8f8;
    border: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
    border-radius: 6px;
    text-align: center;
}

.idt {
    padding-bottom: 30px;
}

.esp {
    padding-bottom: 35px;
}

p {
    width: 163px;
    height: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
}

.imp {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.ip {
    display: flex;
    justify-content: center;
    width: 384px;
}

.psw {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ps {
    display: flex;
    justify-content: center;
    width: 384px;
}

.pc {
    width: 300px;
    height: 35px;
    left: 534px;
    top: 872px;
    font-family: 'Poppins', sans-serif;
    background: #F8F8F8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}