nav{
    display: flex;
    flex-direction: row;
}
#navbarNav{
    flex-wrap: nowrap;
    justify-content: flex-end;
}

footer{
    background-color: #4b4b4b;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* 
.conf{
    display: flex;
    flex-direction: row-reverse;
}
.container ul{
    flex-wrap: nowrap;
    justify-content: flex-end;
} */