body,
ul {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    line-height: 108px;
    text-transform: uppercase;
    color: #FF3838;
    font-weight: 700;
}

.conf {
    width: 384px;
    height: 47px;
    left: 478px;
    top: 755px;
    font-size: large;
    border-radius: 6px;
    color: #fff;
    background: #FF3838;
    font-family: Montserrat;
    font-weight: 700;
}

.mai {
    font-family: Montserrat;
    height: 40px;
    width: 384px;
    background: #f8f8f8;
    border: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
    border-radius: 6px;
    text-indent: 25px;
}

.inf {
    padding-bottom: 50px;
}

.esp {
    padding-bottom: 75px;
}