{% extends 'base.html.twig' %}
{% block title %}- Home {% endblock %}


{% block content %}

<div class="body">
    <h1>Les dernières nouveautés</h1>
    {{ dump(games) }}
    {% for g in games %}
    <a href="{{path('game',{'id':g.id})}}"><div>
        <img style="max-height: 200px; min-width: 100%" src="{{ asset('/gameImg/') }}{{ g.img }}" alt="">
    </div></a>
   {% endfor %} 

</div>
{% endblock %}

