<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{# message erreur et success #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('errors') %}
			<div class="alert alert-danger">{{ message}}<</div></body></html> {% endfor %} {# end message erreur et success #}
            
             {% block content %} {% endblock %}
