{% extends 'base.html.twig' %}
{% block link %}
<link rel="stylesheet" href="{{ asset('/css/recoverPassword.css')}}"> {% endblock %} 
{% block title %}recover Password{% endblock %} {% block body %}

<h1>Récuperation mot de passe</h1>


<center>
    <div class=inf>
        <input class="mai" placeholder="Nouveau mot de passe" type="text">
    </div>

    <div class=esp>
        <input class="mai" placeholder="Confirmer le mot de passe" type="password">
    </div>
    <div>
        <button class="conf" type="submit">Confirmation</button>
    </div>
</center>


{% endblock %}