{% extends 'base.html.twig' %}

{% block title %}- dashboard Admin {% endblock %}

{% block content %} 

<h4>Panel Admin</h4>
<a href="">Dashboard</a>
<a href="">Utilisateurs</a>
<a href="">Membres</a>
<a href="">Ajout de jeu</a><br>

<input type="search" name="" id="" placeholder="Recherche">

<h1>Dashboard</h1>
<br><br>


<h4>Téléchargements</h4>

{% for nbD in nbDownload %}
    <h3>{{ nbD.nbDownload }}</h3>
{% endfor %} 

<br>
<h4>Jeux</h4>


{% for nbG in nbGames %}
    <h3>{{ nbG.nbGames }}</h3>
{% endfor %} 

<br>
<h4>Membres</h4>

{% for nbM in nbMembers %}
    <h3>{{ nbM.nbMembers }}</h3>
{% endfor %} 

<br>
<h4>Utilisateurs</h4>

{% for nbU in nbUsers %}
    <h3>{{ nbU.nbUsers }}</h3>
{% endfor %} 

<br><br>
<h4>Jeux le plus téléchargé</h4>
<p>(Diagrammes</p>


{% endblock %} 